In [2]:
import pandas as pd
import numpy as np

In [32]:
data_2018_2020 = pd.read_excel('2018-2020.xlsx')
data_2020_2022 = pd.read_excel('2020-2022.xlsx')
data_2022_2024 = pd.read_excel('2022-2024.xlsx')

/opt/homebrew/Caskroom/miniconda/base/envs/ie471/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/ie471/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/ie471/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [33]:
data_2018_2020

,번호,공시일,종목코드,종목명,시장구분,직접/신탁,취득/처분,취득(처분)예정기간_시작일,취득(처분)예정기간_종료일,신고내역_수량,신고내역_금액,체결내역(누계)_수량,체결내역(누계)_체결수량비율,체결내역(누계)_금액
0,1,2020/05/27,218410,RFHIC,KOSDAQ,직접,취득,2020/05/28,2020/11/27,132275,5000000000,132275,100.0,4636499650
1,2,2020/05/26,25900,동화기업,KOSDAQ,직접,처분,2020/05/27,2020/05/27,250000,6400000000,250000,100.0,6080000000
2,3,2020/05/25,253590,네오셈,KOSDAQ,신탁,취득,2020/05/25,2020/11/24,0,2000000000,571366,0.0,1283324315
3,4,2020/05/25,79370,제우스,KOSDAQ,신탁,취득,2020/05/26,2021/05/25,0,2000000000,148412,0.0,1870236200
4,5,2020/05/20,25900,동화기업,KOSDAQ,직접,처분,2020/05/21,2020/05/21,500000,13200000000,500000,100.0,12540000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,1193,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2020/05/31,0,1000000000,16800,0.0,38690580
1193,1194,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2019/05/31,0,1000000000,51500,0.0,155690930
1194,1195,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2021/05/31,0,1000000000,45200,0.0,199984125
1195,1196,2018/05/31,182690,테라셈,KOSDAQ,직접,처분,2018/06/01,2018/07/31,470309,832446930,470309,100.0,934335885
1196,1197,2018/05/30,3000,부광약품,KOSPI,직접,처분,2018/05/31,2018/05/31,1510786,42851934104,1510786,100.0,42851934104

In [34]:
data_2020_2022

,번호,공시일,종목코드,종목명,시장구분,직접/신탁,취득/처분,취득(처분)예정기간_시작일,취득(처분)예정기간_종료일,신고내역_수량,신고내역_금액,체결내역(누계)_수량,체결내역(누계)_체결수량비율,체결내역(누계)_금액
0,1,2022/05/27,003550,LG,KOSPI,신탁,취득,2022/05/30,2024/12/31,0,500000000000,5590677.0,0.0,4.620222e+11
1,2,2022/05/27,003670,포스코퓨처엠,KOSPI,직접,취득,2022/05/30,2022/08/29,75187,9999871000,75187.0,100.0,9.645326e+09
2,3,2022/05/26,375500,DL이앤씨,KOSPI,신탁,취득,2022/05/26,2022/11/25,0,29000000000,647077.0,0.0,2.687100e+10
3,4,2022/05/26,37550L,DL이앤씨2우(전환),KOSPI,신탁,취득,2022/05/26,2022/11/25,0,29000000000,32299.0,0.0,1.076557e+09
4,5,2022/05/26,37550L,DL이앤씨2우(전환),KOSPI,신탁,취득,,,0,0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,787,2020/06/11,227840,현대코퍼레이션홀딩스,KOSPI,신탁,취득,2020/06/12,2020/12/11,0,3000000000,290000.0,0.0,2.985962e+09
787,788,2020/06/10,251370,와이엠티,KOSDAQ,직접,처분,2020/06/11,2020/06/11,80570,2167333000,80570.0,100.0,2.167333e+09
788,789,2020/06/05,006800,미래에셋증권,KOSPI,직접,취득,2020/06/08,2020/09/07,16000000,108600000000,16000000.0,100.0,1.108164e+11
789,790,2020/06/01,302920,더콘텐츠온,KONEX,신탁,취득,2020/06/01,2020/11/30,0,100000000,1188.0,0.0,1.241460e+07
790,791,2020/05/29,003410,쌍용C&E,KOSPI,신탁,취득,2020/06/01,2020/12/01,0,30000000000,3014405.0,0.0,1.568692e+10

In [35]:
data_2022_2024

,번호,공시일,종목코드,종목명,시장구분,직접/신탁,취득/처분,취득(처분)예정기간_시작일,취득(처분)예정기간_종료일,신고내역_수량,신고내역_금액,체결내역(누계)_수량,체결내역(누계)_체결수량비율,체결내역(누계)_금액
0,1,2024/05/27,159010,아스플로,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0,0.0,0
1,2,2024/05/24,405100,큐알티,KOSDAQ,신탁,취득,2024/05/24,2024/11/24,0,5000000000,0,0.0,0
2,3,2024/05/24,200670,휴메딕스,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,3000000000,0,0.0,0
3,4,2024/05/24,243070,휴온스,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0,0.0,0
4,5,2024/05/24,084110,휴온스글로벌,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,974,2022/06/07,086900,메디톡스,KOSDAQ,직접,취득,2022/06/08,2022/09/05,39777,4999968900,39777,100.0,4574169500
974,975,2022/06/03,039440,에스티아이,KOSDAQ,신탁,취득,2022/06/03,2022/12/02,0,3000000000,159600,0.0,2984925950
975,976,2022/06/02,307870,비투엔,KOSDAQ,신탁,취득,2022/06/02,2022/12/02,0,2000000000,713194,0.0,1448972590
976,977,2022/05/31,236810,엔비티,KOSDAQ,신탁,취득,2022/06/02,2022/12/01,0,3500000000,430273,0.0,3492828520
977,978,2022/05/30,017650,대림제지,KOSDAQ,직접,취득,2022/05/31,2022/08/30,100000,959000000,100000,100.0,855555160

In [36]:
print(data_2018_2020.shape)
print(data_2020_2022.shape)
print(data_2022_2024.shape)

(1197, 14)
(791, 14)
(978, 14)

In [45]:
full_data = pd.concat([data_2018_2020, data_2020_2022, data_2022_2024], ignore_index=True)

In [46]:
full_data.columns

Index(['번호', '공시일', '종목코드', '종목명', '시장구분', '직접/신탁', '취득/처분', '취득(처분)예정기간_시작일',
       '취득(처분)예정기간_종료일', '신고내역_수량', '신고내역_금액', '체결내역(누계)_수량',
       '체결내역(누계)_체결수량비율', '체결내역(누계)_금액'],
      dtype='object')

In [47]:
full_data = full_data.sort_values(by='공시일', ascending=True).reset_index()
full_data = full_data.drop(columns=['index','번호'])

In [90]:
full_data['종목코드'] = full_data['종목코드'].astype(str).str.zfill(6)
full_data

,공시일,종목코드,종목명,시장구분,직접/신탁,취득/처분,취득(처분)예정기간_시작일,취득(처분)예정기간_종료일,신고내역_수량,신고내역_금액,체결내역(누계)_수량,체결내역(누계)_체결수량비율,체결내역(누계)_금액
0,2018/05/30,003000,부광약품,KOSPI,직접,처분,2018/05/31,2018/05/31,1510786,42851934104,1510786.0,100.0,4.285193e+10
1,2018/05/31,182690,테라셈,KOSDAQ,직접,처분,2018/06/01,2018/07/31,470309,832446930,470309.0,100.0,9.343359e+08
2,2018/06/01,232140,와이씨,KOSDAQ,신탁,취득,2018/06/01,2019/05/31,0,2000000000,437256.0,0.0,1.993199e+09
3,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2021/05/31,0,1000000000,45200.0,0.0,1.999841e+08
4,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2020/05/31,0,1000000000,16800.0,0.0,3.869058e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2961,2024/05/24,200670,휴메딕스,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,3000000000,0.0,0.0,0.000000e+00
2962,2024/05/24,405100,큐알티,KOSDAQ,신탁,취득,2024/05/24,2024/11/24,0,5000000000,0.0,0.0,0.000000e+00
2963,2024/05/24,084110,휴온스글로벌,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0.0,0.0,0.000000e+00
2964,2024/05/24,243070,휴온스,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0.0,0.0,0.000000e+00
2965,2024/05/27,159010,아스플로,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0.0,0.0,0.000000e+00

In [27]:
company_list = full_data['종목명'].unique()
print(len(company_list))

1105

In [80]:
import requests
import pandas as pd
from datetime import datetime

# API key and base URL
API_KEY = '6e613b286881d7618be53b0237ead54a9751e26e'
BASE_URL_Multi= "https://opendart.fss.or.kr/api/fnlttMultiAcnt.json	"
BASE_URL_SINGLE = "https://opendart.fss.or.kr/api/fnlttSinglAcntAll.json"

In [86]:
def get_data(url, params):
    print(params)
    response = requests.get(url, params=params)
    data = response.json()
    print(data)
    if 'Data' in data and 'Data' in data['Data']:
        return pd.DataFrame(data['Data']['Data'])
    elif 'Data' in data:
        return pd.DataFrame(data['Data'])
    else:
        print("Error fetching data")
        return None

In [92]:
!pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl.metadata (7.7 kB)
Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

In [95]:
import xmltodict

def get_data_xml_tojson(url, params):
    response = requests.get(url, params=params)
    data = xmltodict.parse(response.content)
    print(data)
    if 'Data' in data and 'Data' in data['Data']:
        return pd.DataFrame(data['Data']['Data'])
    elif 'Data' in data:
        return pd.DataFrame(data['Data'])
    else:
        print("Error fetching data")
        return None

In [96]:

UNIQUE_CODE_URL = "https://opendart.fss.or.kr/api/corpCode.xml"
unique_code_list = get_data_xml_tojson(UNIQUE_CODE_URL, {'crtfc_key': API_KEY})

ExpatError: not well-formed (invalid token): line 1, column 2

In [65]:
search_company_list = full_data[['종목명','종목코드','공시일']].drop_duplicates()
search_company_list

         종목명    종목코드         공시일
0       부광약품    3000  2018/05/30
1        테라셈  182690  2018/05/31
2        와이씨  232140  2018/06/01
3       현대공업  170030  2018/06/01
5      제주반도체   80220  2018/06/01
...      ...     ...         ...
2961    휴메딕스  200670  2024/05/24
2962     큐알티  405100  2024/05/24
2963  휴온스글로벌  084110  2024/05/24
2964     휴온스  243070  2024/05/24
2965    아스플로  159010  2024/05/27

[2687 rows x 3 columns]

In [72]:
quarter_code = {
    1: '11013',
    2: '11012',
    3: '11014',
    4: '11011'
}

search_company_list['공시일'] = pd.to_datetime(search_company_list['공시일'])
search_company_list['분기'] = pd.to_datetime(search_company_list['공시일']).apply(lambda x: (x.month-1)//3+1)
search_company_list['분기코드'] = search_company_list['분기'].map(quarter_code)
search_company_list['사업연도'] = search_company_list['공시일'].dt.year
']
search_company_list

         종목명    종목코드        공시일  분기   분기코드  사업연도
0       부광약품    3000 2018-05-30   2  11012  2018
1        테라셈  182690 2018-05-31   2  11012  2018
2        와이씨  232140 2018-06-01   2  11012  2018
3       현대공업  170030 2018-06-01   2  11012  2018
5      제주반도체   80220 2018-06-01   2  11012  2018
...      ...     ...        ...  ..    ...   ...
2961    휴메딕스  200670 2024-05-24   2  11012  2024
2962     큐알티  405100 2024-05-24   2  11012  2024
2963  휴온스글로벌  084110 2024-05-24   2  11012  2024
2964     휴온스  243070 2024-05-24   2  11012  2024
2965    아스플로  159010 2024-05-27   2  11012  2024

[2687 rows x 6 columns]

### Test

In [87]:
def get_company_info_single(unique_code, year, quarter):
    print(unique_code, year, quarter)
    params = {
        'crtfc_key': API_KEY,
        'corp_code': unique_code,
        'bsns_year': year,
        'reprt_code': quarter,
        'fs_div': 'OFS'
    }
    return get_data(BASE_URL_SINGLE, params)

In [88]:
params = search_company_list.iloc[0][['종목코드','분기코드','사업연도']].tolist()
get_company_info_single(*params)

3000 11012 2018
{'crtfc_key': '6e613b286881d7618be53b0237ead54a9751e26e', 'corp_code': 3000, 'bsns_year': '11012', 'reprt_code': 2018, 'fs_div': 'OFS'}
{'status': '013', 'message': '조회된 데이타가 없습니다.'}
Error fetching data